.App{
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu{
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgb(178, 168, 32);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Quiz{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  background-color: rgb(178, 168, 32);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}


.Menu button, .Quiz button{
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.Quiz button{
  width: 600px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}


.options{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Menu input, button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}


button:hover {
  cursor: pointer;
}

.Menu, .Quiz, .EndScreen h1 {
  color: white;
}

.options button {
  margin: 5px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.options button.chosen {
  background-color: #4caf50;
  color: white;
}
.EndScreen {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgb(178, 168, 32);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nextQuestion {
  width: 200px;
}

h3 {
  color: #ffffff;

}